Hello,

The new version of UAVOS APX Software is released.
Branch: {{ data.branch }}
Version: {{ data.version }}

The following changes were made since last update:

{{ data.changes }}

If you have any questions, feel free to ask, by replying to this message, or follow the links below for more information:

 * Complete changelog: https://uavos.github.io/apx-releases/CHANGELOG.html
 * Documentation: https://docs.uavos.com
 * Software downloads: https://github.com/uavos/apx-releases/releases


Regards,
Aliaksei Stratsilatau
sa@uavos.com
